<?xml version="1.0" encoding="UTF-8"?>
<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
                  xmlns:web="http://webservice.fiusb.ci.infosys.com">
    <soapenv:Header/>
    <soapenv:Body>
        <web:executeService>
            <arg_0_0>
                <![CDATA[
                <FIXML xsi:schemaLocation="http://www.finacle.com/fixml RetCustMod.xsd"
                       xmlns="http://www.finacle.com/fixml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                    <Header>
                        <RequestHeader>
                            <MessageKey>
                                <RequestUUID>${RequestUUID}</RequestUUID>
                                <ServiceRequestId>RetCustMod</ServiceRequestId>
                                <ServiceRequestVersion>10.2</ServiceRequestVersion>
                                <ChannelId>CRM</ChannelId>
                                <LanguageId></LanguageId>
                            </MessageKey>
                            <RequestMessageInfo>
                                <BankId>01</BankId>
                                <TimeZone></TimeZone>
                                <EntityId></EntityId>
                                <EntityType></EntityType>
                                <ArmCorrelationId></ArmCorrelationId>
                                <MessageDateTime>${MessageDateTime}</MessageDateTime>
                            </RequestMessageInfo>
                            <Security>
                                <Token>
                                    <PasswordToken>
                                        <UserId></UserId>
                                        <Password></Password>
                                    </PasswordToken>
                                </Token>
                                <FICertToken></FICertToken>
                                <RealUserLoginSessionId></RealUserLoginSessionId>
                                <RealUser></RealUser>
                                <RealUserPwd></RealUserPwd>
                                <SSOTransferToken></SSOTransferToken>
                            </Security>
                        </RequestHeader>
                    </Header>
                    <Body>
                    <RetCustModRequest>
                        <RetCustModRq>
                            <RetCustModMainData>
                                <CustModData>
                                    <CustId>${CustId}</CustId>
                                </CustModData>
                            </RetCustModMainData>
                            <RetailCustModRelatedData>
                                <PsychographicModData>
                                    <PsychoGraphMiscModData>
                                        <Date1>2099-12-31T00:00:00.000</Date1>
                                        <Type>CURRENCY</Type>
                                        <TypeCode>T</TypeCode>
                                    </PsychoGraphMiscModData>
                                </PsychographicModData>
                            </RetailCustModRelatedData>
                        </RetCustModRq>
                        <RetCustMod_CustomData>
                            <StrText10_0>${crncy_Code}</StrText10_0>
                        </RetCustMod_CustomData>
                    </RetCustModRequest>
                    </Body>
                </FIXML>
                ]]>
            </arg_0_0>
        </web:executeService>
    </soapenv:Body>
</soapenv:Envelope>