<?xml version="1.0" encoding="UTF-8"?>
<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
                  xmlns:web="http://webservice.fiusb.ci.infosys.com">
    <soapenv:Header/>
    <soapenv:Body>
        <web:executeService>
            <arg_0_0>
                <![CDATA[
                <FIXML xsi:schemaLocation="http://www.finacle.com/fixml RetCustMod.xsd"
                       xmlns="http://www.finacle.com/fixml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                    <Header>
                        <RequestHeader>
                            <MessageKey>
                                <RequestUUID>${RequestUUID}</RequestUUID>
                                <ServiceRequestId>RetCustMod</ServiceRequestId>
                                <ServiceRequestVersion>10.2</ServiceRequestVersion>
                                <ChannelId>CRM</ChannelId>
                                <LanguageId></LanguageId>
                            </MessageKey>
                            <RequestMessageInfo>
                                <BankId>01</BankId>
                                <TimeZone></TimeZone>
                                <EntityId></EntityId>
                                <EntityType></EntityType>
                                <ArmCorrelationId></ArmCorrelationId>
                                <MessageDateTime>${MessageDateTime}</MessageDateTime>
                            </RequestMessageInfo>
                            <Security>
                                <Token>
                                    <PasswordToken>
                                        <UserId></UserId>
                                        <Password></Password>
                                    </PasswordToken>
                                </Token>
                                <FICertToken></FICertToken>
                                <RealUserLoginSessionId></RealUserLoginSessionId>
                                <RealUser></RealUser>
                                <RealUserPwd></RealUserPwd>
                                <SSOTransferToken></SSOTransferToken>
                            </Security>
                        </RequestHeader>
                    </Header>
                    <Body>
                    <RetCustModRequest>
                        <RetCustModRq>
                            <RetCustModMainData>
                                <CustModData>
                                    <CustId>${CustId}</CustId>
                                </CustModData>
                            </RetCustModMainData>
                            <RetailCustModRelatedData>
                                <EntityDocModData>
                                    <CountryOfIssue>${CountryOfIssue}</CountryOfIssue>
                                    <DocCode>${DocCode}</DocCode>
                                    <IssueDt>${IssueDt}</IssueDt>
                                    #if("$!{ExpDt}" != "")

                                        <ExpDt>${ExpDt}</ExpDt>
                                    #end
                                    <TypeCode>${TypeCode}</TypeCode>
                                    <PlaceOfIssue>${PlaceOfIssue}</PlaceOfIssue>
                                    <ReferenceNum>${ReferenceNum}</ReferenceNum>
                                    <IDIssuedOrganisation>${IDIssuedOrganisation}</IDIssuedOrganisation>
                                    <preferredUniqueId>Y</preferredUniqueId>
                                    #if("$!{EntityDocumentID}" != "")
                                        <EntityDocumentID>${EntityDocumentID}</EntityDocumentID>
                                    #end
                                </EntityDocModData>
                            </RetailCustModRelatedData>
                        </RetCustModRq>
                    </RetCustModRequest>
                    </Body>
                </FIXML>
                ]]>
            </arg_0_0>
        </web:executeService>
    </soapenv:Body>
</soapenv:Envelope>