<?xml version="1.0" encoding="UTF-8"?>
<soapenv:Envelope
        xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:web="http://webservice.fiusb.ci.infosys.com">
    <soapenv:Header/>
    <soapenv:Body>
        <web:executeService>
            <arg_0_0>
                <![CDATA[
                <FIXML xsi:schemaLocation="http://www.finacle.com/fixml updateCorpCustomer.xsd" xmlns="http://www.finacle.com/fixml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Header>
                    <RequestHeader>
                        <MessageKey>
                            <RequestUUID>${RequestUUID}</RequestUUID>
                            <ServiceRequestId>updateCorpCustomer</ServiceRequestId>
                            <ServiceRequestVersion>10.2</ServiceRequestVersion>
                            <ChannelId>CRM</ChannelId>
                            <LanguageId></LanguageId>
                        </MessageKey>
                        <RequestMessageInfo>
                            <BankId>01</BankId>
                            <TimeZone></TimeZone>
                            <EntityId></EntityId>
                            <EntityType></EntityType>
                            <ArmCorrelationId></ArmCorrelationId>
                            <MessageDateTime>${MessageDateTime}</MessageDateTime>
                        </RequestMessageInfo>
                        <Security>
                            <Token>
                                <PasswordToken>
                                    <UserId></UserId>
                                    <Password></Password>
                                </PasswordToken>
                            </Token>
                            <FICertToken></FICertToken>
                            <RealUserLoginSessionId></RealUserLoginSessionId>
                            <RealUser></RealUser>
                            <RealUserPwd></RealUserPwd>
                            <SSOTransferToken></SSOTransferToken>
                        </Security>
                    </RequestHeader>
                </Header>
                    <Body>
                    <updateCorpCustomerRequest>
                        <CorpCustomerModData>
                            <mainData>
                                <corpCustomerModCorporateData>
                                    <corp_key>${CustId}</corp_key>
                                </corpCustomerModCorporateData>
                            </mainData>
                            <relatedData>
                                <corpentitydocumentModData>
                                    <countryofissue>${CountryOfIssue}</countryofissue>
                                    <doccode>${DocCode}</doccode>
                                    <docissuedate>${IssueDt}</docissuedate>
                                    #if("$!{ExpDt}" != "")
                                        <docexpirydate>${ExpDt}</docexpirydate>
                                    #end
                                    <doctypecode>${TypeCode}</doctypecode>
                                    <placeofissue>${PlaceOfIssue}</placeofissue>
                                    <referencenumber>${ReferenceNum}</referencenumber>
                                    #if("$!{EntityDocumentID}" != "")
                                        <EntityDocumentID>${EntityDocumentID}</EntityDocumentID>
                                    #end

                                </corpentitydocumentModData>
                            </relatedData>
                        </CorpCustomerModData>
                    </updateCorpCustomerRequest>
                    </Body>
                </FIXML>
                ]]>
            </arg_0_0>
        </web:executeService>
    </soapenv:Body>
</soapenv:Envelope>