<?xml version="1.0" encoding="UTF-8"?>

<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:web="http://webservice.fiusb.ci.infosys.com">
    <soapenv:Header/>
    <soapenv:Body>
        <web:executeService>
            <arg_0_0>
                <![CDATA[
                <FIXML xmlns="http://www.finacle.com/fixml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.finacle.com/fixml RetCustInq.xsd">
                    <Header>
                        <RequestHeader>
                            <MessageKey>
                                <RequestUUID>${RequestUUID}</RequestUUID>
                                <ServiceRequestId>RetCustInq</ServiceRequestId>
                                <ServiceRequestVersion>10.2</ServiceRequestVersion>
                                <ChannelId>CRM</ChannelId>
                                <LanguageId/>
                            </MessageKey>
                            <RequestMessageInfo>
                                <BankId>01</BankId>
                                <TimeZone/>
                                <EntityId/>
                                <EntityType/>
                                <ArmCorrelationId/>
                                <MessageDateTime>${MessageDateTime}</MessageDateTime>
                            </RequestMessageInfo>
                            <Security>
                                <Token>
                                    <PasswordToken>
                                        <UserId/>
                                        <Password/>
                                    </PasswordToken>
                                </Token>
                                <FICertToken/>
                                <RealUserLoginSessionId/>
                                <RealUser/>
                                <RealUserPwd/>
                                <SSOTransferToken/>
                            </Security>
                        </RequestHeader>
                    </Header>
                    <Body>
                    <RetCustInqRequest>
                        <RetCustInqRq>
                            <CustId>${CustId}</CustId>
                        </RetCustInqRq>
                    </RetCustInqRequest>
                    </Body>
                </FIXML>
                ]]>
            </arg_0_0>
        </web:executeService>
    </soapenv:Body>
</soapenv:Envelope>